*{
    margin: 0px;
    padding: 0px;
}
.borderTable{
    border-collapse: collapse;
}
.borderTable, .borderTable th, .borderTable td{
    border: 1px solid black;
}
.borderTable td{
    width: 50px; height: 50px; max-width: 50px; max-height: 50px;
}
.borderTable tr{
    height: 50px; max-height: 50px;
}