<div *ngIf="gameList" style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center;">
    <h3>All Existing Games: </h3>
    <p *ngFor="let game of gameList">Name: {{game['name']}} -- Players: {{game['players'].length}} -- <button (click)="joinGame(game)">Join Game</button></p>
    <p *ngIf="gameList.length == 0">There are no existing games</p>
    <button (click)="createGame()">Create New Game</button>
</div>
<div *ngIf="singleGame" style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center;">
    <h3>You have joined the following game:</h3>
    <p>Game Name: {{singleGame.name}} -- Players: {{singleGame.players.length}}</p>
    <p><span *ngFor="let player of singleGame.players; let i = index"><span *ngIf="i > 0">, </span>{{player.name}}</span></p>
    <div *ngIf="settings">
        <form style="display: flex; flex-direction: row; justify-content: space-evenly; align-items: flex-start;">
            <div style="display: flex; flex-direction: column; align-items: center; width: 275px; height: 100px; outline: 1px solid white;">
                <label for="maxAsteroids">Max # of Asteroids:</label>
                <input style="max-width: 100px; text-align: center;" type="number" name="maxAsteroids" [(ngModel)]="settings['maxAsteroids']" (change)="changeSettings()">
            </div>
            <br>
            <div style="display: flex; flex-direction: column; align-items: center; width: 275px; height: 100px; outline: 1px solid white;">
                <label for="numCols">Map Width (in grid units):</label>
                <input style="max-width: 100px; text-align: center;" type="number" name="numCols" [(ngModel)]="settings['numCols']" (change)="changeSettings()">
            </div>
            <br>
            <div style="display: flex; flex-direction: column; align-items: center; width: 275px; height: 100px; outline: 1px solid white;">
                <label for="numRows">Map Height (in grid units):</label>
                <input style="max-width: 100px; text-align: center;" type="number" name="numRows" [(ngModel)]="settings['numRows']" (change)="changeSettings()">
            </div>
        </form>
    </div>
    <br>
    <div style="display: flex; flex-direction: row; justify-content: space-around;">
        <div style="margin: 10px;">
            <button *ngIf="!singleGame.blue" (click)='startGame("blue")'>Start as Blue</button>
        </div>
        <div style="margin: 10px;">
            <button *ngIf="!singleGame.red" (click)='startGame("red")'>Start as Red</button>
        </div>
    </div>
    <br>
    <button (click)='leaveGame()'>Leave Game</button>
    <br>
    <button (click)='deleteGame()'>Delete Game</button>
</div>
<div *ngIf="!gameList && !singleGame">
    <p>Sorry, this site failed to make a connection to the Socket Server, which is crucial for gameplay.  Please check the SocketIoConfig url setting (in the app.module.ts file) and make sure it is set to the back-end server IP!</p>
</div>