<h1>Space Fighter</h1>
<h5>Created by Jake Sklarew</h5>
<br>
<div *ngIf="gameList">
<button (click)="createGame()">Create New Game</button>
    <h3>All Existing Games: </h3>
    <ul>
        <li *ngFor="let game of gameList">{{game['name']}} -- # Players: {{game['players'].length}} -- <button (click)="joinGame(game)">Join Game</button></li>
    </ul>
</div>
<div *ngIf="singleGame">
    <h3>You have joined the following game:</h3>
    <p>Game Name: {{singleGame.name}}</p> <button *ngIf="!singleGame.red" (click)='startGame("red")'>Start as Red</button> <button *ngIf="!singleGame.blue" (click)='startGame("blue")'>Start as Blue</button>
    <p># Players: {{singleGame.players.length}}</p>
    <ul>
        <li *ngFor="let player of singleGame.players">{{player.name}}</li>
    </ul>
    <button (click)='leaveGame()'>Leave Game</button>
</div>